@media (max-width: 768px) {
    #not_show {
        display: none;
    }

    #logofin {
        min-width: 90%;
    }

    .container-buttons-mob {
        position: relative;
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5vw;
        overflow: contain;
        cursor: none;
        height: 10%;
        top: 74%;
        line-height: 1.1;
    }

    .button-mob {
        font-size: 0.9rem;
        background-color: #121113;
        text-decoration: none;
        border: none;
        border-radius: 0.5rem;
        padding: 3%;
    }

    .container-buttons-mob div {
        margin-top: 2%;
        background-color: #121113;
        padding: 5%;
        padding-top: 8%;
        padding-bottom: 8%;
        border-radius: 0.8rem 0.8rem 2rem 2rem;
    }

    .neon-mob {
        width: 100%;
    }

    .container-info-mob {
        position: relative;
        width: 40%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 0.5vw;
        overflow: contain;
        cursor: none;
        text-align: center;
        top: -10%;
    }

    .container-info-mob div {
        margin-top: 2%;
        background-color: #121113;
        padding: 5%;
        border-radius: 0.8rem;
    }
}

@media (min-width: 768px) {
    .hero {
        margin-top: -12vh;
    }

    #show_mobile {
        display: none;
    }

    .button {
        background-color: #121113;
        text-decoration: none;
        border: none;
        border-radius: 0.5rem;
        padding: 3%;
    }

    .container-buttons div {
        margin-top: 2%;
        background-color: #121113;
        padding: 5%;
        padding-top: 8%;
        padding-bottom: 8%;
        border-radius: 0.8rem 0.8rem 3rem 3rem;
    }

    .container-buttons {
        position: relative;
        width: 15%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 0.5vw;
        overflow: contain;
        cursor: none;
        height: 10%;
        float: right;
        margin-right: 2%;
        top: 55%;
        line-height: 1.1;
    }

    .column-button {
        flex: 1;
        text-align: center;
    }

    .container-info {
        position: relative;
        width: 20%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 0.5vw;
        overflow: contain;
        cursor: none;
        height: 10%;
        float: left;
        margin-left: 2%;
        text-align: center;
        top: 10%;
    }

    .container-info div {
        margin-top: 2%;
        background-color: #121113;
        padding: 5%;
        border-radius: 0.8rem;
    }

    .neon {
        position: relative;
        width: 20%;
        float: left;
        left: -20%;
        top: 73%;
    }
}

/* body css */

body {
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    cursor: none;
}

.cursor {
    mix-blend-mode: exclusion;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 2;
}

.cursor2 {
    mix-blend-mode: exclusion;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 3;
}

.select {
    mix-blend-mode: exclusion;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.selectmini {
    mix-blend-mode: exclusion;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.testm {
    mix-blend-mode: exclusion;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0, 6;
}

/* nav css */

.navbar {
    background-color: rgba(219, 50, 77, 0.4);
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 5vw;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
}

.nav-item {
    display: flex;
    align-items: center;
}

.navbar-nav ms-auto me-auto mb-2 mb-lg-0 {
    justify-content: center;
}

.navbar img {
    width: 70%;
}

.navbar span {
    color: #fffff0;
}

.navbar a {
    font-family: MuseoModerno;
    display: inline-block;
    text-align: center;
    padding: 16px;
    font-size: 18px;
}

.nav-item a:hover {
    text-decoration: underline;
    text-decoration-color: #fffff0;
    cursor: none;
}

.nav-item img:hover {
    mix-blend-mode: exclusion;
}

/*hero section css */

.hero {
    width: 100vw;
    align-items: center;
    overflow-x: hidden;
    object-fit: contain;
    background-color: #121113;
    height: 100vh;
    background-image: url(assets/images/hero.png);
    background-size: cover;
    background-position: center;
}

.hero span {
    font-family: MuseoModerno;
    font-size: 1.3rem;
    color: #fffff0;
    text-align: center;
}

.landing {
    background: linear-gradient(151deg, #121113, #2640ea, #121113, #121113, #121113);
    background-size: 1000% 1000%;
    -webkit-animation: gradient 34s ease infinite;
    -moz-animation: gradient 34s ease infinite;
    -o-animation: gradient 34s ease infinite;
    animation: gradient 34s ease infinite;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 22% 0%
    }

    50% {
        background-position: 79% 100%
    }

    100% {
        background-position: 22% 0%
    }
}

@-moz-keyframes gradient {
    0% {
        background-position: 22% 0%
    }

    50% {
        background-position: 79% 100%
    }

    100% {
        background-position: 22% 0%
    }
}

@-o-keyframes gradient {
    0% {
        background-position: 22% 0%
    }

    50% {
        background-position: 79% 100%
    }

    100% {
        background-position: 22% 0%
    }
}

@keyframes gradient {
    0% {
        background-position: 22% 0%
    }

    50% {
        background-position: 79% 100%
    }

    100% {
        background-position: 22% 0%
    }
}

.bento {
    min-block-size: 90vh;
    width: 90vw;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
    padding: 1ch;
    margin-left: 5vw;
    margin-right: 5vw;
}

.bento button {
    background-color: rgba(219, 50, 77, 1);
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    border: none;
}

.bentodetails {
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(219, 50, 77, 0.8);
    height: 20%;
    width: 100%;
    border-radius: 1rem;
    place-items: center;
    bottom: 0;
}

.textdestaque {
    font-family: MuseoModerno;
    font-size: 1.1rem;
    color: #fffff0;
}

#textdestaquedif {
    font-size: 1rem;
}

.textsubtext {
    position: absolute;
    font-family: MuseoModerno;
    font-size: 2.6rem;
    color: #fffff0;
    text-align: left;
}

.textheader {
    position: absolute;
    font-family: MuseoModerno;
    font-weight: 250;
    font-size: 1.1rem;
    color: #fffff0;
    text-align: left;
    top: 7vh;
}

.bento__container {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr 2fr 2fr;
    gap: 1ch;
    min-height: inherit;
    flex: 2 0 320px;
}

.bento__container[variant-1] {
    grid-template-columns: 3fr 1fr 4fr;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.bento__container[variant-2] {
    grid-template-columns: 1fr 2fr;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.bento__container[variant-3] {
    grid-template-columns: 3fr 1fr 2fr;
    background-size: cover;
    background-repeat: no-repeat;
}

.bento__item {
    position: relative;
    height: 100%;
    width: 100%;
    grid-column: var(--columns, span 1);
    grid-row: var(--rows, span 1);
    background-color: var(--bg);
    border-radius: 1rem;
}

#bento2 {
    min-block-size: 90vh;
}

#fillbentoul1 {
    background-image: url(assets/images/bentoup1.png);
    background-position: center;
}

#fillbentoul2 {
    background-image: url(assets/images/bentoup3.png);
    background-position: center;
}

#fillbentoul3 {
    background-image: url(assets/images/bentoup6.png);
    background-position: center;
}

#fillbentour1 {
    background-image: url(assets/images/bentoup2.png);
    background-position: center;
}

#fillbentour2 {
    background-image: url(assets/images/bentoup4.png);
    background-position: center;
}

#fillbentour3 {
    background-image: url(assets/images/bentoup5.png);
    background-position: center;
}

#fillbentod1 {
    background-image: url(assets/images/bentodown1.png);
    background-position: center;
}

#fillbentod2 {
    background-image: url(assets/images/bentodown2.png);
    background-position: center;
}

#fillbentod3 {
    background-image: url(assets/images/bentodown3.png);
    background-position: center;
}

#fillbentod4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #DB324D;
}

#fillbentod4 img {
    height: 70%;
}

#fillbentod5 {
    background-image: url(assets/images/bentodown5.png);
}

/* testimonials */

.container-title {
    position: relative;
    width: 80%;
    margin: 0 auto;
    bottom: -1vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.container-title p {
    font-family: MuseoModerno;
    font-size: 2.5rem;
    padding-right: 75%;
    color: #fffff0;
    text-align: left;
    line-height: 1;
}

.coluna-title-mob p {
    font-family: MuseoModerno;
    font-size: 2rem;
    padding-right: 20%;
    color: #fffff0;
    text-align: left;
    line-height: 1;
}

.container-test {
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2.2vw;
    overflow: hidden;
    height: 45vh;
    width: 70%;
}

.coluna-circle {
    border-radius: 50%;
    background-color: #fffff0;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    float: left;
}

.coluna-circle p {
    font-family: MuseoModerno;
    font-size: 1.3rem;
    color: #DB324D;
    text-align: left;
}

.coluna-circle span {
    font-family: MuseoModerno;
    font-size: 1.4rem;
    color: #DB324D;
    text-align: left;
}

.container-test-mob {
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 1vw;
    overflow: hidden;
    height: 100vh;
    width: 70%;
}

.coluna-circle-mob {
    border-radius: 50%;
    background-color: #fffff0;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    float: left;
}

.coluna-circle-mob p {
    font-family: MuseoModerno;
    font-size: 1.3rem;
    color: #DB324D;
    text-align: left;
}

#center{
    text-align: center;
}

.coluna-circle-mob span {
    font-family: MuseoModerno;
    font-size: 1.4rem;
    color: #DB324D;
    text-align: left;
}

/* footer css */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0%;
    position: relative;
    bottom: 0;
}

#logofin {
    width: 70%;
}